
<div class="login-container">
    <div class="login-box">
        <div class="logo">
            <img class="spotify-logo" src="/spotify_logo.png" alt="">
        </div>
        <div class="login-text">
            <p class="welcome">Welcome to the...</p>
            <p class="title">Label discovery app</p>
            <button>
                <a href="https://accounts.spotify.com/authorize?client_id=b39cf1133f6e40229d75f7d73b68f490&response_type=code&redirect_uri=https://label-discover.herokuapp.com/callback&scope=user-read-private%20user-read-email&playlist-read-private">LOGIN</a>
            </button>
        </div>
    </div>
</div>